# Build directories
build-test/
build/
out/
bin/

# vcpkg artifacts
vcpkg_installed/
.vcpkg-root

# Secrets
.env

# IDE folders
.vscode/
.idea/

# Compiled object files and binaries
*.o
*.a
*.so
*.dylib
*.exe
lob_app

config.json
